{% extends "base.html" %}
{% set active_page = "stories" %}

{% block content %}
    <table>
        <tr><td>Title:</td><td>Category:</td><td>Stories:</td><td>Description:</td><td>Image:</td></tr>
        {% for provider in data %}
        <tr>
            <td><a href="{{provider['link']}}">{{provider['title']}}</a></td>
            <td><a href="/stories/{{provider['category']}}">{{provider['category']}}</a></td>
            <td><a href="/providers/{{provider['id']}}">Stories</a></td>
            <td>{{provider['description']}}</td>
            <td><a href="{{provider['link']}}"><img src="{{provider['image']}}" alt="{{provider['tite']}}"></a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
